:root {
  --primary-color: rgb(81, 121, 133);
  --secondary-color: rgb(235, 229, 224);
  --tertiary-color: rgb(255, 194, 204);
  --quaternary-color: rgb(249, 109, 132);
  --quinary-color: rgb(60, 70, 73);
  /* --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
}

body {
  color: var(--quinary-color);
  margin: 100px 0;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

h1,
h2 {
  font-weight: 300;
}

h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 94px;
  font-family: "Over the Rainbow", cursive;
}

.h1-shadow-hp {
  filter: drop-shadow(0 0 30px rgba(143, 126, 214, 0.9));
}

.h1-shadow-about {
  filter: drop-shadow(0 0 30px rgba(249, 109, 132, 0.9));
}

.h1-shadow-projects {
  filter: drop-shadow(0 0 30px rgba(255, 223, 93, 0.9));
}

.h1-shadow-contact {
  filter: drop-shadow(0 0 30px rgba(81, 121, 133, 0.9));
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
  line-height: 1.6;
}

.navigation-links {
  display: flex;
  margin: 10px 25px;
  justify-content: end;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--tertiary-color);
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--quaternary-color);
}

.primary-link {
  border-radius: 50px;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  color: var(--tertiary-color);
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.start-section {
  --mask: radial-gradient(34.99px at 50% 48px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% -18px, #0000 99%, #000 101%) 50% 30px/120px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.content-container {
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 50px;
  display: flex;
}

/* .content p {
  margin: 50px 10px 0 10px;
} */

.introduction-content {
  margin-top: 120px;
}

.introduction-paragraph {
  position: relative;
  padding: 26px 0 26px 26px;
  border-left: 2px dotted rgba(143, 126, 214, 0.6);
}

.img-vicky {
  margin-top: 30px;
}

.img-container img {
  display: block;
  /* filter: drop-shadow(0 0 30px rgba(249, 109, 132, 0.6)); */
}

.contact-button {
  margin: 50px 10px 0 10px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 24px;
  text-decoration: none;
}

.email-link:hover {
  color: pink;
}

footer {
  margin: 60px 0;
}

.footer-container {
  --mask: radial-gradient(
        34.99px at 50% calc(100% - 48px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% calc(100% + 18px), #0000 99%, #000 101%) 50%
      calc(100% - 30px) / 120px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

/* footer .contact-box {
  background-color: var(--secondary-color);
  padding: 35px;
  border-radius: 4px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: pink;
} */

footer .social-links a {
  text-decoration: none;
  color: rgb(249, 109, 132);
  background-color: pink;
  font-size: 24px;
  padding: 15px;
  border-radius: 50%;
  margin: 0 20px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: pink;
  background-color: rgb(249, 109, 132);
}

footer .github-link {
  color: var(--quaternary-color);
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

footer .github-link:hover {
  color: var(--quinary-color);
}

footer .github-link::before {
  background-color: hsla(350, 100%, 88%, 0.6);
  bottom: -1px;
  content: "";
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

footer .github-link:hover::before {
  height: 100%;
}

@media (max-width: 1024px) {
  body {
    margin: 100px 20px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }

  p,
  .navigation-links,
  .primary-link {
    font-size: 14px;
  }

  .email-link,
  .navbar-brand,
  .navbar-toggler {
    font-size: 14px;
  }

  .introduction-content {
    margin-top: 30px;
  }

  .footer {
    display: none;
  }

  .project-link {
    display: block;
    text-align: center;
  }
}
